body {
  padding-top: 1rem;
}

.perfect-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.fancy {
  letter-spacing: 0.33rem;
  text-transform: uppercase !important;
}